<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>캡스톤 작품 보기</title>
    <link rel="stylesheet" href="../../../static/css/main_board.css" th:href="@{/css/main_board.css}">
    <link rel="stylesheet" href="../../../static/css/topbot.css" th:href="@{/css/topbot.css}">
    <script src="https://kit.fontawesome.com/fff8ef1317.js" crossorigin="anonymous"></script>
    <script src="../../../static/js/includeHTML.js"></script>
</head>
<body>
    <div include-html="../../../templates/module/header.html"></div>

    <main>
        <section class="project-detail">
            <h1>캡스톤 프로젝트 리스트</h1>
            <div th:each="post : ${list}" class="project-info">
                <img src="../../../static/img/143315.png" alt="프로젝트 이미지">
                <div class="project-details">
                    <h2><a th:text="${post.title}" th:href="@{/posts/read/{id}(id = ${post.id})}"></a></h2>
                    <p>작성자: <span th:text="${post.writer}"></span></p>
                    <p>프로젝트 설명: <span th:text="${post.content}"></span></p>
                    <p>완성 날짜: <span th:text="${post.createdDate}"></span> </p>
                    <p>조회수: <span th:text="${post.view}"></span></p>
                </div>
            </div>

            <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
                <a th:if="${page != nowPage}" th:href="@{/posts/list(page = ${page - 1})}" th:text="${page}"></a>
                <strong th:if="${page == nowPage}" th:text="${page}" style="color: red"></strong>
            </th:block>

        </section>
    </main>




    <div include-html="../../../templates/module/footer.html"></div>

    <script>
        includeHTML();
    </script>
</body>
</html>
