<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <title>JEIU 캡스톤 프로젝트 - 작품 등록</title>
    <link rel="stylesheet" href="../../../static/css/topbot.css" th:href="@{/css/topbot.css}">
    <link rel="stylesheet" href="../../../static/css/uploadPro.css" th:href="@{/css/uploadPro.css}">
    
    <script src="https://kit.fontawesome.com/fff8ef1317.js" crossorigin="anonymous"></script>
    <script src="../../../static/js/includeHTML.js"></script>
</head>

<body>
    <div class="header-container" include-html="../../../templates/module/header.html"></div>

    <main style="margin-top: 2%;">
        <section class="register-section">
            <h1>캡스톤 프로젝트</h1>
            <form th:action="@{/api/posts/update/{id}(id = ${posts.id})}" method="post" enctype="multipart/form-data" id="register-form">
                <div class="form-group">
                    <label for="projectName">작품 이름</label>
                    <input type="text" id="projectName" name="title" required>
                </div>
                <div class="form-group">
                    <label for="authorName">등록자 이름</label>
                    <input type="text" id="authorName" name="writer" required>
                </div>
                <div class="form-group">
                    <label for="teamMem">팀 구성원</label>
                    <input type="text" id="teamMem" name="teamMem" required>
                </div>
                <div class="form-group">
                    <label for="projectDescription">작품 개요</label>
                    <textarea id="projectDescription" name="content" rows="4" required></textarea>
                </div>
                <div class="form-group">
                    <label for="yt_url">유튜브 영상 주소</label>
                    <input type="text" id="yt_url" name="yt_url">
                </div>
                <div class="form-group">
                    <label for="poster">첨부파일</label>
                    <input type="file" id="poster" name="poster">
                </div>
<!--                <div class="form-group">-->
<!--                    <label for="video">발표 자료 (영상 파일)</label>-->
<!--                    <input type="file" id="video" name="video" accept="video/*">-->
<!--                </div>-->
                <input type="hidden" name="_method" value="put"/>
                <button type="submit" class="submit-button">수정하기</button>
            </form>
        </section>
    </main>

    <div class="footer-container" include-html="../../../templates/module/footer.html"></div>

    <script>
        // // 서버에서 전달받은 로그인된 사용자 이름
        // const loggedInUserName = "사용자 이름"; // 서버에서 동적으로 할당
        //
        // // 등록자 이름 필드에 로그인된 사용자 이름을 자동으로 채우기
        // document.getElementById('authorName').value = loggedInUserName;
        
        includeHTML();
    </script>
</body>

</html>
