<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항 상세보기</title>
    <link rel="stylesheet" href="/front-end/static/css/board/notice/noticeDetail.css">
    <script src="/front-end/static/js/common/api.js" defer></script>
    <script src="/front-end/static/js/common/includeHTML.js" defer></script>
    <script src="/front-end/static/js/board/notice/noticeDetail.js" defer></script>
</head>

<body>
    <div class="header-container" id="header"></div>

    <main>
        <section class="notice-detail">
            <h1>공지사항</h1>
            <table class="notice-info">
                <tr>
                    <th>제목</th>
                    <td colspan="3" class="title highlight"></td>
                </tr>
                <tr>
                    <th>작성자</th>
                    <td></td>
                    <th>등록일</th>
                    <td></td>
                </tr>
            </table>

            <div class="notice-content">
                <p>2024-2 Jeiu SOFTCON 동영상 템플릿 사용 시, 첨부된 가이드 PDF 파일을 참고하시기 바랍니다.</p>
                <p>- 투명, 흰색 배경</p>
                <p>- 추천 해상도 4K 이상</p>
                <p>- 세부사항은 첨부된 작업 가이드 파일 참고</p>
            </div>

            <button class="back-button" onclick="location.href='noticeList.html'">목록</button>
        </section>
    </main>

    <div class="footer-container" id="footer"></div>
</body>

</html>