<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JEIU 캡스톤 프로젝트 - 공지사항 등록</title>
    <link rel="stylesheet" href="../../../static/css/admin.css"> 
    <link rel="stylesheet" href="/front-end/static/css/noticeR.css">

    <script src="/front-end/static/js/notice.js" defer></script>
</head>
<body>
    <!-- 헤더 -->
    <div class="header-container">
        <h1>JEIU CAPSTONE 관리자 페이지</h1>
    </div>

    <!-- 네비게이션 바 -->
    <div class="admin-nav">
        <ul>
            <li><a href="/front-end/templates/board/project/modify.html">프로젝트 관리</a></li>
            <li><a href="/front-end/templates/board/notice/noticeRegister.html">공지사항 관리</a></li>
            <li><a href="/front-end/templates/user/login/userAdmin.html">회원 관리</a></li>
        </ul>
    </div>

    <main style="margin-top: 2%;">
        <section class="register-section">
            <h1>공지사항 등록</h1>
            <form id="register-form">
                <div class="form-group">
                    <label for="title">제목</label>
                    <input type="text" id="title" name="title" required>
                </div>
                <div class="form-group">
                    <label for="content">내용</label>
                    <textarea id="content" name="content" rows="4" required></textarea>
                </div>
                <div class="form-group">
                    <label for="noti_image">이미지 업로드</label>
                    <input type="file" id="noti_image" name="noti_image" accept="image/*">
                </div>
                <div class="form-group">
                    <label for="noti_file">파일 업로드</label>
                    <input type="file" id="noti_file" name="noti_file">
                </div>
                <button type="button" class="submit-button" onclick="submitNotice()">등록하기</button>
            </form>
        </section>
    </main>

    <div class="footer-container">
        <p>&copy; JEIU 재능대학교</p>
    </div>
    
</body>
</html>
