<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>로그인 페이지</title>
    <link rel="stylesheet" href="/src/main/resources/static/css/log.css">
    <script src="/static/js/login.js" defer></script> 
    <script src="/static/js/includeHTML.js" defer></script>
</head>
<body>
    <!-- 헤더 추가 -->
    <div class="header-container" id="header"></div>

    <!-- 로그인 폼 -->
    <div id="login">
        <div class="wrap">
            <div class="login">
                <div class="loginwrap">
                    <h2>로그인</h2>
                    <form id="LoginForm" name="LoginForm" method="post" action="/login">
                        <div class="loginArea">
                                <label for="username">아이디</label>
                                <input type="text" id="username" name="username" required>
                                <label for="password">비밀번호</label>
                                <input type="password" id="password" name="password" required>
                                <button type="submit" class="loginbtn">로그인</button>
                        </div>
                    </form>
                    <div class="findArea">
                        <a href="findId.html">아이디 찾기</a><br>
                        <a href="findpw.html">비밀번호 찾기</a>
                    </div>
                    <div class="registerArea">
                        <a href="loginR.html">회원가입</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 푸터 추가 -->
    <div class="footer-container" id="footer"></div>

    <script>
        async function includeHTML() {
            const headerResponse = await fetch('http://127.0.0.1:5500/src/main/resources/templates/layout/header.html');
            document.getElementById('header').innerHTML = await headerResponse.text();

            const footerResponse = await fetch('http://127.0.0.1:5500/src/main/resources/templates/layout/footer.html');
            document.getElementById('footer').innerHTML = await footerResponse.text();
        }
        document.addEventListener('DOMContentLoaded', includeHTML);
    </script>
</body>
</html>
