<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>로그인 페이지</title>
    <link rel="stylesheet" href="../../../static/css/log.css">
    <link rel="stylesheet" href="../../../static/css/topbot.css">
    <script src="../../../static/js/log.js" defer></script>
    <script src="https://kit.fontawesome.com/fff8ef1317.js" crossorigin="anonymous"></script>
    <script src="../../../static/js/includeHTML.js"></script>
</head>
<body>
    <div include-html="../../../templates/module/header.html"></div>

    <div id="login">
        <div class="wrap">
            <div class="visual">
                <h1><img src="" alt="게시판로고"></h1>
            </div>
            <div class="login">
                <div class="loginwrap">
                    <h2><img src="" alt="로그인"></h2>
                    <form id="LoginForm" name="LoginForm" method="post" style="display:inline" action="/auth/loginProc">
                    <div class="loginArea">
                        <fieldset>
                            <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                            <label for="username">아이디</label>
                            <input type="text" id="username" name="username">
                            <label for="password">비밀번호</label>
                            <input type="password" id="password" name="password">
                            <button type="submit">로그인</button>
                        </fieldset>
                    </div>
                    <div style="display:none;">
                        <input title="saveLoginID" id="saveLoginID" type="checkbox" class="saveLoginID" name="saveLoginID" checked="" value="checkbox" tabindex="3">
                    </div>

                </form>
                    <div class="findArea">
                        <div class="idsearch">
                            <h5>아이디를 잊으셨나요?</h5>
                            <p>회원님의 개인정보로 아이디를 찾을 수 있습니다.</p>
                            <a href="findId.html"><span>아이디 찾기</span></a>
                        </div>
                        <div class="pwsearch">
                            <h5>비밀번호를 잊으셨나요?</h5>
                            <p>회원님의 개인정보로 비밀번호를 찾을 수 있습니다.</p>
                            <a href="findpw.html"><span>비밀번호 찾기</span></a>
                        </div>
                    </div>
                    <div class="registerArea">
                        <h5>아직 회원이 아니신가요?</h5>
                        <p>회원가입을 통해 더 많은 서비스를 이용해보세요.</p>
                        <a href="loginR.html"><span>회원가입</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div include-html="../../../templates/module/footer.html"></div>

    <script>
        includeHTML();
    </script>
</body>
</html>
