<div class="header_warp">
    <a href="#" class="main_logo">JEIU CAPSTONE</a>
    <link rel="stylesheet" href="http://127.0.0.1:5500/src/main/resources/templates/layout/topbot.css">
</div>
<div class="nav_warp">
    <ul class="nav">
        <li><a href="/src/main/resources/templates/index.html">HOME</a></li>
        <li><a href="/src/main/resources/templates/board/project/projectRegister.html">작품등록</a></li>
        <li><a href="/src/main/resources/templates/board/project/list.html">작품보기</a></li>
        <li><a href="/src/main/resources/templates/board/notice/list.html">공지사항</a></li>
        <li><a href="/src/main/resources/templates/user/login/login.html">LOGIN</a></li>
    </ul>
    <a href="#" id="search_icon"><i class="fa-solid fa-magnifying-glass"></i></a>
</div>
