<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>사용자 관리 페이지</title>
    <link rel="stylesheet" href="/front-end/static/css/admin/user/adminUserList.css">
    <link rel="stylesheet" href="/front-end/static/css/common/skeleton.css">
    <script src="/front-end/static/js/common/api.js" defer></script>
    <script src="/front-end/static/js/admin/user/adminUserList.js" defer></script>
    <script src="/front-end/static/js/common/skeleton.js"></script>
</head>

<body>
    <div class="header-container">
        <h1>JEIU CAPSTONE 관리자 페이지</h1>
    </div>

    <div class="admin-nav">
        <ul>
            <li><a href="/front-end/templates/admin/project/adminProjectList.html">프로젝트 관리</a></li>
            <li><a href="/front-end/templates/admin/notice/adminNoticeList.html">공지사항 관리</a></li>
            <li><a href="/front-end/templates/admin/user/adminUserList.html">회원 관리</a></li>
        </ul>
    </div>

    <div id="userAdmin">
        <div class="wrap">
            <h1>사용자 관리 페이지</h1>
            <div class="search-container">
                <input type="text" id="searchInput" placeholder="사용자 ID 검색">
                <button onclick="searchUser()">검색</button>
                <button onclick="resetSearch()">초기화</button>
            </div>
            <div class="user-list-container">
                <div class="user-list">
                    <!-- 사용자 목록이 동적으로 추가됨 -->
                </div>
            </div>
            <div class="pagination"></div>
        </div>
    </div>

    <div class="footer-container">
        <p>&copy; JEIU 재능대학교</p>
    </div>
</body>

</html>