<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>로그인 페이지</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="stylesheet" th:href="@{/css/topbot.css}">
    <!--    <script defer th:src="@{/js/login.js/}"></script>-->
<header>
    <div class="header_warp">
        <a href="#" class="main_logo">JEIU CAPSTONE</a>
    </div>
    <div class="nav_warp">
        <ul class="nav">
            <li><a href="index.html">HOME</a></li>
            <li><a href="registerProject.html">작품등록</a></li>
            <li><a href="capstone1.html">작품보기</a></li>
            <li><a href="gaygayya.html">공지사항</a></li>
            <li><a href="login,html">LOGIN</a></li>
        </ul>
        <a href="#" id="search_icon"><i class="fa-solid fa-magnifying-glass"></i></a>
    </div>
</header>
<body>
<div id="login">
    <div class="wrap">
        <div class="visual">
            <h1><img src="" alt="게시판로고"></h1>
        </div>
        <div class="login">
            <div class="loginwrap">
                <h2><img src="로그인/image/log.png" alt="로그인"></h2>
                <form id="LoginForm" name="LoginForm" method="post" style="display:inline" action="/user/loginProcess.face" onsubmit="return false">
                    <input type="hidden" name="langKnd" id="langKnd" value="ko">
                    <input type="hidden" name="loginMode" id="loginMode" value="id">
                    <input type="hidden" name="dn" id="dn" value="">
                    <input type="hidden" name="commSessionKEY" id="commSessionKEY" value="qPGPsDTJXMHIu9V4">
                    <div class="loginArea">
                        <fieldset>
                            
                            <label for="id">아이디</label><input type="text" id="id" name="userId" onkeypress="if(event.keyCode==13) {javascript:document.getElementById('pw').focus();return false;}">
                            <label for="pw">비밀번호</label><input type="password" id="pw" name="password" onkeypress="if(event.keyCode==13) {javascript:enviewLogin('id');return false;}">
                            <a href="javascript:void(0);" onclick="javascript:enviewLogin('id');" class="loginbtn"><span>로그인</span></a>
                        </fieldset>
                    </div>
                    <div style="display:none;"> 
                        <input title="saveLoginID" id="saveLoginID" type="checkbox" class="saveLoginID" name="saveLoginID" checked="" value="checkbox" tabindex="3">
                    </div>
                </form>
                <div class="findArea">
                    <!-- 아이디 찾기 -->
                    <div class="idsearch">
                        <h5>아이디를 잊으셨나요?</h5>
                        <p>회원님의 개인정보로 아이디를 찾을 수 있습니다.</p>
                        <a href="#"><span>아이디 찾기</span></a>
                    </div>
                    <div class="pwsearch">
                        <h5>비밀번호를 잊으셨나요?</h5>
                        <p>회원님의 개인정보로 비밀번호를 찾을 수 있습니다.</p>
                        <a href="#"><span>비밀번호 찾기</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="footer_warp">
        
        <div class="sec">
            <a href="#"><img src="media/main_logo.svg"></a>
            <ul>
                <li>
                    <p>송림캠퍼스</p>
                </li>
                <li>22573 인천광역시 동구 재능로 178</li>
            </ul>
            <ul>
                <li>
                    <p>송도캠퍼스</p>
                </li>
                <li>21987 인천광역시 연수구 송도교육로 111번길 15</li>
            </ul>
        </div>
    </div>
</footer>
</body>
</html>
