<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 작성</title>
</head>
<body>
    <div class="layout">
        <form th:action="@{/board/notice/update/{id}(id = ${board.id})}" method="post">
            <input name="title" type="text" th:value="${board.title}">
            <textarea name="content" th:text="${board.content}"></textarea>
            <input name="file" type="file">
            <button type="submit">수정하기</button>
        </form>
    </div>
</body>
</html>