<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">

    <main layout:fragment="content">
        <section class="project-detail">
            <h1>캡스톤 프로젝트 상세</h1>
            <div th:each="board : ${list}" class="project-info">
                <img src="143315.png" alt="프로젝트 이미지">
                <div class="project-details">
                    <h2><a th:text="${board.title}" th:href="@{/board/notice/view(id=${board.id})}"></a></h2>
                    <p>프로젝트 설명: <span th:text="${board.content}"></span></p>
                    <p>팀 구성원: 팀원1, 팀원2, 팀원3</p>
                    <p>완성 날짜: <span th:text="${board.id}"></span> </p>
                    <p>사용 기술: HTML, CSS, JavaScript</p>
                </div>
            </div>
        </section>
    </main>
</html>