/* Body Styling */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh; /* 화면 전체 높이 설정 */
}

/* Header Styling */
.header-container {
    background: #ff6347;
    color: white;
    width: 100%;
    text-align: center;
    padding: 20px 0;
}

.header-container h1 {
    margin: 0;
    font-size: 24px;
}

/* Welcome Message Styling */
.welcome-message {
    font-size: 32px; /* 더 큰 폰트 크기 */
    font-weight: bold;
    color: #333;
    margin: auto 0; /* 헤더와 푸터 사이 중간에 배치 */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* 중간 배치를 위해 전체 높이 설정 */
}

/* Navigation Bar */
.admin-nav {
    width: 50%; /* 네비게이션 바 너비를 줄여 중앙에 위치 */
    background: #333;
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    margin: 20px auto;
    border-radius: 10px;
}

.admin-nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.admin-nav li {
    list-style: none;
}

.admin-nav a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    text-align: center;
    transition: background-color 0.3s;
}

.admin-nav a:hover {
    background-color: #ff6347;
    border-radius: 5px;
}


/* Footer Styling */
.footer-container {
    background: #333;
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 0;
}

/* 관리자 로그인 스타일 */
.admin-login {
    max-width: 500px; /* 바탕 크기는 유지 */
    width: 80%;
    margin: 40px auto;
    padding: 40px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}

.admin-login h2 {
    text-align: center;
    margin-bottom: 20px; /* 헤더 아래 여백 */
    font-size: 1.8em; /* 글씨 크기 감소 */
    color: #333;
    font-weight: bold;
}

.admin-login .form-group {
    margin-bottom: 30px; /* 각 필드 간 여백 감소 */
}

.admin-login label {
    display: block;
    margin-bottom: 5px; /* 라벨 아래 여백 감소 */
    font-weight: bold;
    font-size: 1.2em; /* 라벨 크기 감소 */
    color: #555;
}

.admin-login input {
    width: 100%;
    padding: 10px; /* 입력 필드 내부 여백 감소 */
    font-size: 1em; /* 텍스트 크기 감소 */
    border: 1px solid #ccc;
    border-radius: 4px; /* 입력 필드 둥근 모서리 */
    box-sizing: border-box;
}

.admin-login .login-button {
    width: 100%;
    padding: 10px; /* 버튼 크기 감소 */
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px; /* 버튼 둥근 모서리 */
    cursor: pointer;
    font-size: 1.2em; /* 버튼 텍스트 크기 감소 */
    font-weight: bold;
}

.admin-login .login-button:hover {
    background-color: #0056b3;
}

.login-message {
    text-align: center;
    margin-top: 10px;
    font-size: 1em; /* 메시지 크기 감소 */
    color: red;
}




