/* Reset 기본 스타일 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

/* Header Styling */
.header-container {
    background: #ff6347;
    color: white;
    width: 100%;
    text-align: center;
    padding: 20px 0;
}

.header-container h1 {
    margin: 0;
    font-size: 24px;
}

/* Navigation Bar */
.admin-nav {
    width: 50%;
    /* 네비게이션 바 너비를 줄여 중앙에 위치 */
    background: #333;
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    margin: 20px auto;
    border-radius: 10px;
}

.admin-nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.admin-nav li {
    list-style: none;
}

.admin-nav a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    text-align: center;
    transition: background-color 0.3s;
}

.admin-nav a:hover {
    background-color: #ff6347;
    border-radius: 5px;
}

/* Footer Styling */
.footer-container {
    background: #333;
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 0;
}

.welcome-message {
    text-align: center; /* 중앙 정렬 */
    margin: 50px 0; /* 위아래 여백 */
    font-size: 24px; /* 글씨 크기 */
    font-weight: bold; /* 글씨 굵기 */
    color: #007bff; /* 메인 컬러 */
}
