@charset "UTF-8";

body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Arial', sans-serif;
}

.header-container,
.footer-container {
    display: block;
    width: 100%;
}

.project-thumbnails {
    width: 100%;
    text-align: center;
    padding: 40px 20px; /* 비디오와의 간격 조정 */
}

#capTitle {
    font-size: 32px; /* 캡스톤 프로젝트 글자 크기 증가 */
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.thumbnail {
    width: 30%;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer; /* 클릭 가능한 UI */
    transition: transform 0.3s, box-shadow 0.3s;
}

.thumbnail:hover {
    transform: scale(1.05); /* 마우스 오버 시 약간 확대 효과 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.thumbnail img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.thumbnail h3 {
    margin: 10px 0;
    font-size: 18px;
    color: #333;
}

.more-button {
    display: inline-block;
    padding: 20px 800px; /* 버튼 크기 증가 */
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    margin-top: 40px; /* 간격 조정 */
    transition: background-color 0.3s;
}

.more-button:hover {
    background-color: #555;
}

.video-container {
    width: 100%;
    height: auto;
    margin-top: 20px;
    text-align: center;
}
.main-image {
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
}

.main-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 1s ease; /* 부드러운 전환 */
}


