<div class="header_warp">
    <a href="#" class="main_logo">JEIU CAPSTONE</a>
    <link rel="stylesheet" href="/capstone-JongGangHaeJo/front-end/templates/layout/topbot.css">
</div>
<div class="nav_warp">
    <ul class="nav">
        <li><a href="/capstone-JongGangHaeJo/front-end/templates/index.html">HOME</a></li>
        <li><a href="/capstone-JongGangHaeJo/front-end/templates/board/project/projectRegister.html">작품등록</a></li>
        <li><a href="/capstone-JongGangHaeJo/front-end/templates/board/project/projectList.html">작품보기</a></li>
        <li><a href="/capstone-JongGangHaeJo/front-end/templates/board/notice/noticeList.html">공지사항</a></li>
        <li><a href="/capstone-JongGangHaeJo/front-end/templates/user/login/login.html">LOGIN</a></li>
    </ul>
</div>
