@charset "UTF-8";

/* Body Styling */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Main Section */
main {
    padding: 40px; /* Padding을 늘려서 더 넓은 간격 확보 */
    flex: 1; /* Main 섹션이 남은 공간을 채우도록 설정 */
}

.project-detail {
    background: #fff;
    padding: 40px; /* Padding을 늘려서 더 넓은 간격 확보 */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: 40px auto; /* Margin을 늘려서 더 넓은 간격 확보 */
    text-align: center;
}

.project-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.project-info img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-right: 20px;
    margin-bottom: 20px; /* 아래쪽 간격 추가 */
}

.project-details {
    text-align: left;
    max-width: 500px;
    margin-bottom: 20px; /* 아래쪽 간격 추가 */
}

.project-details h2 {
    font-size: 24px;
    margin: 20px 0; /* Margin을 늘려서 더 넓은 간격 확보 */
}

.project-details p {
    margin: 10px 0; /* Margin을 늘려서 더 넓은 간격 확보 */
    font-size: 16px;
}

/* Admin Buttons */
.admin-buttons {
    margin-top: 40px; /* Margin을 늘려서 더 넓은 간격 확보 */
}

.admin-btn {
    display: inline-block;
    background: #ff6347; /* 주황색 */
    color: #fff;
}
