/* Reset 기본 스타일 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-container,
.footer-container {
    display: block;
    width: 100%;
}


/* Body Styling */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f5f5f5;
    font-family: 'Arial', sans-serif;
    flex-direction: column;
}

/* 로그인 영역 스타일 */
#login {
    width: 100%;
    max-width: 400px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 40px;
    margin-top: 10px; /* 헤더와의 여백 */
    margin-bottom: 40px; /* 푸터와의 여백 */
}

/* 로고 이미지와 제목 */
.visual h1 img {
    width: 100px;
    margin-bottom: 20px;
}

.visual {
    text-align: center;
    padding: 20px 0;
    background-color: #ff6347;
    border-bottom: 5px solid #e55330;
}

/* 로그인 폼 스타일 */
.loginwrap h2 {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 700;
}

.loginArea {
    margin-bottom: 20px;
}

/* 입력 필드 스타일 */
.loginArea input[type="text"],
.loginArea input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
}

.loginArea input[type="text"]:focus,
.loginArea input[type="password"]:focus {
    border-color: #ff6347;
}

/* 로그인 버튼 스타일 */
.loginbtn {
    display: block;
    width: 100%;
    padding: 12px;
    background: #ff6347;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
    font-weight: 700;
}

.loginbtn:hover {
    background: #e55330;
}

/* 추가 정보 영역 스타일 */
.findArea, .registerArea {
    margin-top: 20px;
    padding: 15px;
    background-color: #f8f8f8;
    border-radius: 5px;
    color: #666;
    font-size: 14px;
    text-align: center;
}

.findArea h5, .registerArea h5 {
    font-size: 16px;
    color: #ff6347;
    margin-bottom: 5px;
}

.findArea p, .registerArea p {
    color: #777;
    font-size: 14px;
    margin: 5px 0;
}

.findArea a, .registerArea a {
    color: #e55330;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s;
}

.findArea a:hover, .registerArea a:hover {
    color: #ff6347;
}

