body {
    font-family: 'Arial', sans-serif;
}

main {
    margin-top: 100px;
    margin-bottom: 100px;
    overflow-y: auto;
    max-height: 80vh;
    padding: 0 20px;
}

.header-container,
.footer-container {
    display: block;
    width: 100%;
}

/* 프로젝트 리스트 스타일 */
.projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding-top: 10px; /* 위쪽에 약간의 패딩 추가 */
}
.project-detail h1 {
    text-align: left; /* 텍스트 중앙 정렬 */
    margin-top: 20px; /* 상단 여백 */
    font-size: 24px;
    color: #333;
    margin-bottom: 20px; /* 원하는 간격으로 조정 */
}
.project-info {
    position: relative;
    width: 22%;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background-color: #f9f9f9;
    transition: transform 0.3s, box-shadow 0.3s;
}

.project-info:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.project-info img {
    width: 100%;
    height: auto;
}

.project-details {
    padding: 15px;
}

.project-details h2 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.project-details p {
    font-size: 14px;
    color: #666;
    margin: 5px 0;
}

/* 상세보기 버튼 스타일 */
.detail-button {
    display: none;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.project-info:hover .detail-button {
    display: block;
}

.detail-button:hover {
    background-color: #0056b3;
}
