@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1; /* Ensures main takes up the available space */
}

.project-detail {
    padding: 20px;
}

.project-detail h1 {
    color: #ff6347; /* 주황색 */
    margin-bottom: 20px;
    font-size: 28px;
    text-align: center;
}

.project-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 40px; /* Increased space between project divs */
    background: #f9f9f9; /* Background color to distinguish each project */
    border: 1px solid #ddd; /* Border to distinguish each project */
    border-radius: 10px; /* Rounds the corners */
    padding: 20px; /* Padding inside each project div */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    transition: transform 0.3s, box-shadow 0.3s; /* Add transition for hover effect */
}

.project-info:hover {
    transform: translateY(-5px); /* Slight lift on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Increased shadow on hover */
}

.project-info img {
    max-width: 100%;
    border-radius: 10px;
    margin-right: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.project-details {
    flex: 1;
    min-width: 300px;
}

.project-details h2 {
    color: #e55330; /* 빨간색 */
    margin-bottom: 10px;
    font-size: 24px;
}

.project-details p {
    margin: 5px 0;
    line-height: 1.6;
    font-size: 16px;
    color: #333;
}
