@charset "UTF-8";

body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-container,
.footer-container {
    display: block;
    width: 100%;
}



.project-thumbnails {
    width: 100%;
    text-align: center;
}

.thumbnail {
    width: 30%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* 높이를 유동적으로 변경 */
    height: auto;
}

#capTitle {
    margin: 5%;
    font-size: 30px;
    
}

.more-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333333;
    width: 300px;
    color: rgb(255, 246, 216);
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    margin: 5%;
    text-align: center;
    text-decoration: none;
}
.video-container {
    width: 100%;
    height: auto;
    margin-top: 20px;
    text-align: center;
}
.main-image {
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
}

.main-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 1s ease; /* 부드러운 전환 */
}


