<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>캡스톤 작품 보기</title>

    <link rel="stylesheet" href="http://127.0.0.1:5500/src/main/resources/templates/layout/topbot.css">
    <link rel="stylesheet" href="../../../static/css/main_board.css">
</head>
<body>
    <!-- 헤더 포함 -->
    <div class="header-container" id="header"></div>

    <main>
        <section class="project-detail">
            <h1>캡스톤 프로젝트 리스트</h1>
            <div th:each="post : ${list}" class="project-info">
                <a href="../../board/project/detail.html"> <!-- detail.html로 이동 -->
                    <img src="../../../static/img/143315.png" alt="프로젝트 이미지">
                    <div class="project-details">
                        <h2 th:text="${post.title}"></h2>
                        <p>작성자: <span th:text="${post.writer}"></span></p>
                        <p>프로젝트 설명: <span th:text="${post.content}"></span></p>
                        <p>완성 날짜: <span th:text="${post.createdDate}"></span> </p>
                        <p>조회수: <span th:text="${post.view}"></span></p>
                    </div>
                </a>
            </div>

            <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
                <a th:if="${page != nowPage}" th:href="@{/posts/list(page = ${page - 1})}" th:text="${page}"></a>
                <strong th:if="${page == nowPage}" th:text="${page}" style="color: red"></strong>
            </th:block>
        </section>
    </main>

    <!-- 푸터 포함 -->
    <div class="footer-container" id="footer"></div>

    <script>
        async function includeHTML() {
            const headerResponse = await fetch('http://127.0.0.1:5500/src/main/resources/templates/layout/header.html');
            document.getElementById('header').innerHTML = await headerResponse.text();

            const footerResponse = await fetch('http://127.0.0.1:5500/src/main/resources/templates/layout/footer.html');
            document.getElementById('footer').innerHTML = await footerResponse.text();
        }

        document.addEventListener('DOMContentLoaded', includeHTML);
    </script>
</body>
</html>
