<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JEIU 캡스톤 프로젝트 - 작품 등록</title>
    <link rel="stylesheet" href="http://127.0.0.1:5500/src/main/resources/templates/layout/topbot.css">
    <link rel="stylesheet" href="../../../static/css/uploadPro.css">
    <script src="/src/main/resources/static/js/projectRegister.js" defer></script>

</head>
<body>
    <div class="header-container" id="header"></div>

    <main style="margin-top: 2%;">
        <section class="register-section">
            <h1>캡스톤 프로젝트</h1>
            <form id="register-form">
                <div class="form-group">
                    <label for="projectName">작품 이름</label>
                    <input type="text" id="projectName" name="title" required>
                </div>
                <div class="form-group">
                    <label for="authorName">작성자</label>
                    <input type="text" id="authorName" name="writer" required>
                </div>
                <div class="form-group">
                    <label for="teamMem">팀 구성원</label>
                    <input type="text" id="teamMem" name="teamMem" required>
                </div>
                <div class="form-group">
                    <label for="projectDescription">작품 개요</label>
                    <textarea id="projectDescription" name="content" rows="4" required></textarea>
                </div>
                <div class="form-group">
                    <label for="yt_url">유튜브 영상 주소</label>
                    <input type="text" id="yt_url" name="yt_url">
                </div>
                <div class="form-group">
                    <label for="poster">첨부파일</label>
                    <input type="file" id="poster" name="files" multiple>
                </div>
                <button type="button" class="submit-button" onclick="submitProject()">등록하기</button>
            </form>
        </section>

        
    </main>

    <div class="footer-container" id="footer"></div>
</body>
</html>
