<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>JEIU 캡스톤 프로젝트</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/topbot.css">
    <script src="https://kit.fontawesome.com/fff8ef1317.js" crossorigin="anonymous"></script>
    <script src="../static/js/includeHTML.js"></script>
</head>
<body>
    <div class="header-container" include-html="module/header.html"></div>

    <main>
        <section class="main-image">
            <img src="https://jeiu.ac.kr/img/main/main_slide_02.png" alt="메인 이미지">
        </section>
        <section class="project-thumbnails">
            <p id="capTitle">캡스톤 프로젝트</p>
            <div class="thumbnails-container">
                <div class="thumbnail">
                    <img src="../static/img/123.png" alt="썸네일 1">
                </div>
                <div class="thumbnail">
                    <img src="../static/img/123.png" alt="썸네일 2">
                </div>
                <div class="thumbnail">
                    <img src="../static/img/123.png" alt="썸네일 3">
                </div>
            </div>
            <button class="more-button">더보기</button>
        </section>
    </main>

    <div class="footer-container" include-html="module/footer.html"></div>

    <script>
        includeHTML();
    </script>
</body>
</html>
