<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>JEIU 캡스톤 프로젝트 - 작품 등록</title>
        <link rel="stylesheet" href="../../../static/css/uploadPro.css">

    
</head>

<body>
    <!-- 헤더 포함 -->
    <div class="header-container" id="header"></div>

    <main style="margin-top: 2%;">
        <section class="register-section">
            <h1>캡스톤 프로젝트</h1>
            <form th:action="@{/api/posts/update/{id}(id = ${posts.id})}" method="post" enctype="multipart/form-data" id="register-form">
                <div class="form-group">
                    <label for="projectName">작품 이름</label>
                    <input type="text" id="projectName" name="title" required>
                </div>
                <div class="form-group">
                    <label for="authorName">등록자 이름</label>
                    <input type="text" id="authorName" name="writer" required>
                </div>
                <div class="form-group">
                    <label for="teamMem">팀 구성원</label>
                    <input type="text" id="teamMem" name="teamMem" required>
                </div>
                <div class="form-group">
                    <label for="projectDescription">작품 개요</label>
                    <textarea id="projectDescription" name="content" rows="4" required></textarea>
                </div>
                <div class="form-group">
                    <label for="yt_url">유튜브 영상 주소</label>
                    <input type="text" id="yt_url" name="yt_url">
                </div>
                <div class="form-group">
                    <label for="poster">첨부파일</label>
                    <input type="file" id="poster" name="poster">
                </div>
                <input type="hidden" name="_method" value="put"/>
                <button type="submit" class="submit-button">수정하기</button>
            </form>
        </section>
    </main>

    <!-- 푸터 포함 -->
    <div class="footer-container" id="footer"></div>

    <script>
        // 헤더와 푸터를 동적으로 로드하는 함수
        async function includeHTML() {
            const headerResponse = await fetch('http://127.0.0.1:5500/capstone-JongGangHaeJo/front-end/templates/layout/header.html');
            const headerHtml = await headerResponse.text();
            document.getElementById('header').innerHTML = headerHtml;

            const footerResponse = await fetch('http://127.0.0.1:5500/capstone-JongGangHaeJo/front-end/templates/layout/footer.html');
            const footerHtml = await footerResponse.text();
            document.getElementById('footer').innerHTML = footerHtml;
        }

        // 페이지 로드 시 헤더와 푸터를 로드
        document.addEventListener('DOMContentLoaded', includeHTML);
    </script>
</body>

</html>
