<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JEIU 캡스톤 프로젝트 - 작품 등록</title>
    <link rel="stylesheet" href="/front-end/static/css/board/project/projectRegister.css">
    <script src="/front-end/static/js/common/api.js" defer></script>
    <script src="/front-end/static/js/common/includeHTML.js" defer></script>
    <script src="/front-end/static/js/board/project/projectRegister.js" defer></script>
</head>

<body>
    <div class="header-container" id="header"></div>

    <main>
        <section class="register-section">
            <h1>캡스톤 프로젝트</h1>
            <form id="register-form">
                <div class="form-group">
                    <label for="projectName">작품 이름</label>
                    <input type="text" id="projectName" name="title" required>
                </div>
                <div class="form-group">
                    <label for="teamMem">팀 명</label>
                    <input type="text" id="teamMem" name="teamMem" required>
                </div>
                <div class="form-group">
                    <label for="projectDescription">작품 개요</label>
                    <textarea id="projectDescription" name="content" rows="6" required></textarea>
                </div>
                <div class="form-group">
                    <label for="yt_url">유튜브 영상 주소</label>
                    <input type="text" id="yt_url" name="yt_url">
                </div>
                <div class="form-group">
                    <label for="projectFiles">발표자료</label>
                    <input type="file" id="projectFiles" name="files" multiple>
                </div>
                <div class="form-group">
                    <label for="poster">썸네일</label>
                    <input type="file" id="poster" name="files" multiple accept="image/*"
                        onchange="showThumbnails(this)">
                </div>
                <div id="thumbnail-container" class="thumbnail-container"></div>
                <button type="button" class="submit-button" onclick="submitProject()">등록하기</button>
            </form>
        </section>
    </main>

    <div class="footer-container" id="footer"></div>
</body>

</html>