<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>캡스톤 작품 보기</title>
    <link rel="stylesheet" href="/front-end/static/css/projectList.css">
    <link rel="stylesheet" href="/front-end/static/css/skeleton.css">
    <script src="/front-end/static/js/api.js" defer></script>
    <script src="/front-end/static/js/includeHtml.js" defer></script>
    <script src="/front-end/static/js/projectList.js" defer></script>
    <script src="/front-end/static/js/common/skeleton.js"></script>
</head>

<body>
    <!-- 헤더 포함 -->
    <div class="header-container" id="header"></div>

    <main>
        <section class="project-detail">
            <h1>캡스톤 프로젝트 리스트</h1>
            <div class="projects-container">
                <!-- 프로젝트 리스트가 동적으로 추가됩니다 -->
            </div>

            <!-- 페이지네이션 컨테이너 -->
            <div class="pagination"></div>
        </section>
    </main>

    <!-- 푸터 포함 -->
    <div class="footer-container" id="footer"></div>
</body>

</html>