<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 찾기</title>
    <link rel="stylesheet" href="../../../static/css/findpw.css">
    <link rel="stylesheet" href="../../../static/css/topbot.css">
    <script src="https://kit.fontawesome.com/fff8ef1317.js" crossorigin="anonymous"></script>
    <script src="../../../static/js/includeHTML.js"></script>
</head>
<body>
    <div include-html="../../../templates/module/header.html"></div>

    <div id="findpw">
        <div class="wrap">
            <div class="visual">
                <h1><img src="" alt="게시판로고"></h1>
            </div>
            <div class="findpw">
                <div class="findpwwrap">
                    <h2><img src="로그인/image/findpw.png" alt="비밀번호 찾기"></h2>
                    <form id="FindPwForm" name="FindPwForm" method="post" style="display:inline" action="/user/findPwProcess.face" onsubmit="return false">
                        <input type="hidden" name="langKnd" id="langKnd" value="ko">
                        <div class="findpwArea">
                            <fieldset>
                                <label for="id">아이디</label>
                                <input type="text" id="id" name="userId" onkeypress="if(event.keyCode==13) {javascript:document.getElementById('email').focus();return false;}">
                                <label for="email">이메일</label>
                                <input type="email" id="email" name="userEmail" onkeypress="if(event.keyCode==13) {javascript:enviewFindPw('pw');return false;}">
                                <a href="javascript:void(0);" onclick="enviewFindPw('pw');" class="findpwbtn"><span>비밀번호 찾기</span></a>
                            </fieldset>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div include-html="../../../templates/module/footer.html"></div>

    <script>
        includeHTML();
    </script>
</body>
</html>
