<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>아이디 찾기</title>
    <link rel="stylesheet" href="../../../static/css/findid.css">
    <link rel="stylesheet" href="../../../static/css/topbot.css">
    <script src="/front-end/static/js/api.js" defer></script> 
    <script src="/front-end/static/js/includeHtml.js" defer></script> 

    </head>
    <body>
        <div class="header-container" id="header"></div>
        </div>
    
        <div id="find-id" class="wrap">
            <h2>아이디 찾기</h2>
            <p>가입 시 등록한 이메일 주소로 아이디를 찾을 수 있습니다.</p>
            <form>
                <div class="form-group">
                    <label for="email">이메일</label>
                    <input type="email" id="email" name="email" required>
                    <button type="button" class="email-check">이메일 확인</button>
                </div>
                <button type="submit" class="submit-button">아이디 찾기</button>
            </form>
        </div>
    
        <div class="footer-container" id="footer"></div>
    </body>
    </html>
    