<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link rel="stylesheet" href="/front-end/static/css/logR.css">
    <script src="/front-end/static/js/loginR.js" defer></script>
</head>
<body>
    <div class="header-container" id="header"></div>
        <h1>회원가입</h1>
    </div>

    <div id="register" class="wrap">
        <h1>가입에 사용하실 이메일주소를 입력해주세요</h1>
        <form>
            <div class="form-group">
                <label for="email">이메일 인증</label>
                <input type="email" id="email" name="email" required>
                <button type="button" class="email-check">이메일 확인</button>
            </div>

            <div class="form-group">
                <label for="name">이름</label>
                <input type="text" id="name" name="name" required>
            </div>

            <div class="form-group">
                <label for="password">비밀번호</label>
                <input type="password" id="password" name="password" required>
                <span class="info">비밀번호는 영문 / 숫자를 조합한 8~20자 까지 입력 가능합니다.</span>
            </div>

            <div class="form-group">
                <label for="confirm-password">비밀번호 확인</label>
                <input type="password" id="confirm-password" name="confirm-password" required>
            </div>

            <div class="form-group">
                <label for="phone">휴대폰번호</label>
                <select name="phone-code">
                    <option value="010">010</option>
                    <option value="011">011</option>
                    <option value="016">016</option>
                </select>
                <input type="text" id="phone" name="phone" required>
            </div>

            <div class="form-group">
                <label>수신동의</label>
                <div class="checkbox-group">
                    <label><input type="checkbox" name="email-consent"> E-mail</label>
                    <label><input type="checkbox" name="sms-consent"> 문자(SMS)</label>
                </div>
            </div>

            <button type="submit" class="submit-button">회원가입</button>
        </form>
    </div>

    <div class="footer-container" id="footer"></div>

    </div>
</body>
</html>
