<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>캡스톤 작품 보기</title>
    <link rel="stylesheet" th:href="@{/css/main_board.css}">
    <link rel="stylesheet" th:href="@{/css/topbot.css}">
<!--    <script defer th:src="@{/js/main_board.js/}"></script>-->
</head>
    <header>
        <div class="header_warp">
            <a href="#" class="main_logo">JEIU CAPSTONE</a>
        </div>
        <div class="nav_warp">
            <ul class="nav">
                <li><a href="index">HOME</a></li>
                <li><a href="registerProject.html">작품등록</a></li>
                <li><a href="main_board.html">작품보기</a></li>
                <li><a href="gaygayya.html">공지사항</a></li>
                <li><a href="login.html">LOGIN</a></li>
            </ul>
            <a href="#" id="search_icon"><i class="fa-solid fa-magnifying-glass"></i></a>
        </div>
    </header>
<body>
    

    <main>
        <section class="project-detail">
            <h1>캡스톤 프로젝트 상세</h1>
            <div th:each="board : ${list}" class="project-info">
                <img src="143315.png" alt="프로젝트 이미지">
                <div class="project-details">
                    <h2><a th:text="${board.title}" th:href="@{/board/notice/view(id=${board.id})}"></a></h2>
                    <p>프로젝트 설명: <span th:text="${board.content}"></span></p>
                    <p>팀 구성원: 팀원1, 팀원2, 팀원3</p>
                    <p>완성 날짜: <span th:text="${board.id}"></span> </p>
                    <p>사용 기술: HTML, CSS, JavaScript</p>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="footer_warp">
            <div class="sec">
                <a href="#"><img src="media/main_logo.svg" alt="로고"></a>
                <ul>
                    <li>
                        <p>송림캠퍼스</p>
                    </li>
                    <li>22573 인천광역시 동구 재능로 178</li>
                </ul>
                <ul>
                    <li>
                        <p>송도캠퍼스</p>
                    </li>
                    <li>21987 인천광역시 연수구 송도교육로 111번길 15</li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>

