<footer>
    <div class="footer_warp">
        <div class="fir">
            <ul>
                <li><a href="#">이용 약관</a></li>
                <li><a href="#">개인정보보호정책</a></li>
            </ul>
            <a href="#" class="top_btn">TOP</a>
        </div>
        <div class="sec">
            <a href="#"><img src="https://portal.jeiu.ac.kr/jeiu/images/login_logo.png"></a>
            <ul>
                <li>
                    <p>송림캠퍼스</p>
                </li>
                <li>22573 인천광역시 동구 재능로 178</li>
            </ul>
            <ul>
                <li>
                    <p>송도캠퍼스</p>
                </li>
                <li>21987 인천광역시 연수구 송도교육로 111번길 15</li>
            </ul>
        </div>
    </div>
</footer>