<div class="header_warp">
    <a href="#" class="main_logo">JEIU CAPSTONE</a>
</div>
<div class="nav_warp">
    <ul class="nav">
        <li><a href="/page/index.html">HOME</a></li>
        <li><a href="/WEB-INF/register/registerProject.html">작품등록</a></li>
        <li><a href="capstone1.html">작품보기</a></li>
        <li><a href="gaygayya.html">공지사항</a></li>
        <li><a href="login.html">LOGIN</a></li>
    </ul>
    <a href="#" id="search_icon"><i class="fa-solid fa-magnifying-glass"></i></a>
</div>